In [1]:
import pandas as pd

data = pd.read_csv("groceriesSynthetic.tsv", sep = "\t")
df = pd.DataFrame(data)
df_original = pd.DataFrame(data)

In [2]:
#Checking if all the values in currency are EUR
print(df["currency"].nunique() == "EUR")

False

In [3]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo   value currency
804    292384******9276 either JARVE SELVERI ISETEENI...  -10.74      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new    -5.7      SEK
1806   (..6464) always sign protect everybody improve...  -22.44      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d...  -34.07      USD
3066   999293******7961 traditional phone RIMI no thr...  -22.28      CAD
...                                                  ...     ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...   -1.09      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...   -1.59      THB
97815  606650******0484 each ICA particularly RIMITAM...    -7.4      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -13.48      SEK
99425   605783******0065 scientist face industry TALLINN   -6.49      THB

[198 rows x 6 columns]

In [4]:
pip install CurrencyConverter

Requirement already satisfied: CurrencyConverter in c:\users\tammk\appdata\local\programs\python\python310\lib\site-packages (0.17.13)
Note: you may need to restart the kernel to use updated packages.

In [5]:
df.head()

,id,formattedDate,merchantName,remittanceInfo,value,currency
0,1269,24-07-2023,NaN,567176******6366 toward information MAKSIMARKE...,-13.59,EUR
1,319,14-06-2023,NaN,157466******5153 pay LIDL own TARTU sound behi...,-0.89,EUR
2,981,28-10-2022,NaN,(..2754) politics garden property POHJAKESKUS ...,-1.68,EUR
3,1340,20-02-2023,MAKSIMARK small Port Kendrabury,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9,EUR
4,604,15-05-2023,OU rather Lake Jorgebury,14/05/1977 such kaart...983921 less OUe/Tallin...,-37.32,EUR

In [6]:
from currency_converter import CurrencyConverter

c = CurrencyConverter()

def currency_to_EUR(value, currency):
    if currency != "EUR":
        try:
            conversion = c.convert(value, currency, "EUR")
            return round(conversion, 2)
        except Exception as e:
            print(f"Error converting {value} {currency} to EUR: {e}")
    return value

df["value"] = df.apply(lambda row: currency_to_EUR(row["value"], row["currency"]), axis=1)

In [7]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo  value currency
804    292384******9276 either JARVE SELVERI ISETEENI... -10.06      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new  -0.49      SEK
1806   (..6464) always sign protect everybody improve...  -1.93      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d... -31.93      USD
3066   999293******7961 traditional phone RIMI no thr... -15.15      CAD
...                                                  ...    ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...  -1.25      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...  -0.04      THB
97815  606650******0484 each ICA particularly RIMITAM...  -0.63      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -1.16      SEK
99425   605783******0065 scientist face industry TALLINN  -0.17      THB

[198 rows x 6 columns]

In [8]:
df = df.drop(columns="currency")

In [9]:
def findMerchant(x):
    if isinstance(x, str):
        mer = ""
        li = x.split()
        i = 0
        while li[i].isupper():
            mer + " " + li[i]
        return mer

In [10]:
#finding all the merchants in the merchantName column
#merchantsFromDf = df["merchantName"].apply(lambda x: findMerchant(x)).unique().tolist()
merchantsFromDf = df["merchantName"].apply(lambda x: x.split()[0] if isinstance(x, str) and x.split()[0].isupper() else None).dropna().unique().tolist()
print(merchantsFromDf)

['MAKSIMARK', 'OU', 'RIMI', 'SELVER', 'KAUPLUS', 'KAUBAMAJA', 'KONSUM', 'AS', 'MAXIMA', 'VALD', 'POOD', 'COOP', 'TOIDUKAUBAD', 'TALLINN', 'R-KIOSK', 'PRISMA', 'ISETEEN', 'OÜ', 'A', 'STOCKMANN', 'LIDL', 'KESKUS', 'GROSSI', 'TURU', 'ICA', 'TURG', 'ISETEENINDUS', 'MAKSEKESKUS', 'PAIDE', 'MEIE', 'KURESSAARE', 'MARKET', 'TARTU', 'WWW.RIMI.EE', 'A&O', 'R', 'VIRU', 'KARDLA', 'VILJANDI', 'PARNU', 'NARVA', 'KRISTIINE', 'JOHVI', 'BOLT', 'NARVESEN', 'KOHTLA-JARVE', 'TOIT', 'POLVA', 'MAARDU', 'SIKUPILLI', 'ROCCA', 'EEDEN', 'PUHVET', 'GET', 'BLOOM', 'APOLLO']

In [11]:
# Võtsin ära praegu merchantide listist mõned elemendid, mille pärast tuli pärastisel filtreerimisel
# mitu korda sama rida kuna nad sisaldasid mitut "merchantit" selle listi põhjal

elementsToRemove = ["OU", "AS", "VALD", "OÜ", "A", "R"]

for el in elementsToRemove:
  merchantsFromDf.remove(el)

merchantsFromDf

['MAKSIMARK',
 'RIMI',
 'SELVER',
 'KAUPLUS',
 'KAUBAMAJA',
 'KONSUM',
 'MAXIMA',
 'POOD',
 'COOP',
 'TOIDUKAUBAD',
 'TALLINN',
 'R-KIOSK',
 'PRISMA',
 'ISETEEN',
 'STOCKMANN',
 'LIDL',
 'KESKUS',
 'GROSSI',
 'TURU',
 'ICA',
 'TURG',
 'ISETEENINDUS',
 'MAKSEKESKUS',
 'PAIDE',
 'MEIE',
 'KURESSAARE',
 'MARKET',
 'TARTU',
 'WWW.RIMI.EE',
 'A&O',
 'VIRU',
 'KARDLA',
 'VILJANDI',
 'PARNU',
 'NARVA',
 'KRISTIINE',
 'JOHVI',
 'BOLT',
 'NARVESEN',
 'KOHTLA-JARVE',
 'TOIT',
 'POLVA',
 'MAARDU',
 'SIKUPILLI',
 'ROCCA',
 'EEDEN',
 'PUHVET',
 'GET',
 'BLOOM',
 'APOLLO']

In [12]:
# Isegi pärast eelmise cell'i muudatusi on alles mõned duplicateid. Hetkel ei tea kuidas veel paremini neid filtreerida.

def findMerchant(row, merchantList):
    remittance_info = str(row["remittanceInfo"]).upper()
    for merchant in merchantList:
        if merchant in remittance_info:
            row["merchantName"] = merchant
            print(row.tolist())

test_df = df.copy()

counter = 0

for idx, row in test_df.iterrows():
    if pd.notnull(row["merchantName"]):
        findMerchant(row, merchantsFromDf)
        counter += 1
    if counter == 20:
        break

[1340, '20-02-2023', 'MAKSIMARK', '24/04/1997 resource kaart...878232 VILJANDI MAKSIMARKET/VILJANDIMAA,/EST carry', '-12.9']
[1340, '20-02-2023', 'MARKET', '24/04/1997 resource kaart...878232 VILJANDI MAKSIMARKET/VILJANDIMAA,/EST carry', '-12.9']
[1340, '20-02-2023', 'VILJANDI', '24/04/1997 resource kaart...878232 VILJANDI MAKSIMARKET/VILJANDIMAA,/EST carry', '-12.9']
[604, '15-05-2023', 'TALLINN', '14/05/1977 such kaart...983921 less OUe/Tallinn/EST animal', '-37.32']
[184, '07-09-2023', 'RIMI', '576266******5911 return RIMI/TATARI RIMI ISETE travel TALLINN', '-4.28']
[184, '07-09-2023', 'TALLINN', '576266******5911 return RIMI/TATARI RIMI ISETE travel TALLINN', '-4.28']
[535, '09-05-2023', 'SELVER', '29/05/1985 traditional kaart...609240 huge SELVERI ISETEENI/TALLINN/EST team', '-21.86']
[535, '09-05-2023', 'TALLINN', '29/05/1985 traditional kaart...609240 huge SELVERI ISETEENI/TALLINN/EST team', '-21.86']
[535, '09-05-2023', 'ISETEEN', '29/05/1985 traditional kaart...609240 huge SELVERI ISETEENI/TALLINN/EST team', '-21.86']
[525, '26-08-2023', 'RIMI', '23/07/1973 half kaart...710047 RIMI/VILJANDI director RI/VILJANDIMAA,/EST go', '-23.08']
[525, '26-08-2023', 'VILJANDI', '23/07/1973 half kaart...710047 RIMI/VILJANDI director RI/VILJANDIMAA,/EST go', '-23.08']
[1176, '28-04-2023', 'NARVESEN', 'Narvesen garden', '-0.79']
[389, '05-06-2023', 'TALLINN', '05/08/1972 follow kaart...826439 Prisma Sikupilli/TALLINNA/EST result', '-18.03']
[389, '05-06-2023', 'PRISMA', '05/08/1972 follow kaart...826439 Prisma Sikupilli/TALLINNA/EST result', '-18.03']
[389, '05-06-2023', 'SIKUPILLI', '05/08/1972 follow kaart...826439 Prisma Sikupilli/TALLINNA/EST result', '-18.03']
[1750, '28-05-2023', 'KAUPLUS', '16/02/2013 now kaart...990465 RISTI KAUPLUS/RISTI parent hard', '-5.34']
[868, '17-08-2023', 'SELVER', '17/04/1980 like kaart...929592 great SELVERI ISET/TALLINN/EST issue', '-14.39']
[868, '17-08-2023', 'TALLINN', '17/04/1980 like kaart...929592 great SELVERI ISET/TALLINN/EST issue', '-14.39']
[1781, '25-03-2023', 'KAUBAMAJA', '230764******1689 low KAUBAMAJA TARTU leader TARTUMAA, TAR', '-6.68']
[1781, '25-03-2023', 'TARTU', '230764******1689 low KAUBAMAJA TARTU leader TARTUMAA, TAR', '-6.68']
[1817, '12-07-2023', 'RIMI', '01/10/2009 age kaart...223453 good RIMI painting ISETE/TALLINN/EST including', '-11.93']
[1817, '12-07-2023', 'TALLINN', '01/10/2009 age kaart...223453 good RIMI painting ISETE/TALLINN/EST including', '-11.93']
[1111, '03-04-2023', 'TALLINN', '04/09/2004 kitchen kaart...153999 Prisma Kristiine Kesku/TALLINNA/EST control', '-22.63']
[1111, '03-04-2023', 'PRISMA', '04/09/2004 kitchen kaart...153999 Prisma Kristiine Kesku/TALLINNA/EST control', '-22.63']
[1111, '03-04-2023', 'KRISTIINE', '04/09/2004 kitchen kaart...153999 Prisma Kristiine Kesku/TALLINNA/EST control', '-22.63']
[377, '28-07-2023', 'MAKSIMARK', '26/10/2005 both kaart...455285 EEDENI MAKSIMARKET/TARTU especially think', '-5.9']
[377, '28-07-2023', 'MARKET', '26/10/2005 both kaart...455285 EEDENI MAKSIMARKET/TARTU especially think', '-5.9']
[377, '28-07-2023', 'TARTU', '26/10/2005 both kaart...455285 EEDENI MAKSIMARKET/TARTU especially think', '-5.9']
[377, '28-07-2023', 'EEDEN', '26/10/2005 both kaart...455285 EEDENI MAKSIMARKET/TARTU especially think', '-5.9']
[324, '03-12-2022', 'SELVER', '20/10/1996 sea kaart...640384 man SELVER/TARTU summer item', '-23.77']
[324, '03-12-2022', 'TARTU', '20/10/1996 sea kaart...640384 man SELVER/TARTU summer item', '-23.77']
[1859, '15-02-2023', 'KAUBAMAJA', '15/04/2016 way kaart...002379 building KAUBAMAJAHAAPSA data', '-10.2']
[479, '01-01-2023', 'KONSUM', '905621******2086 culture opportunity KONSUM ISETEENIN only process VALD', '-27.83']
[479, '01-01-2023', 'ISETEEN', '905621******2086 culture opportunity KONSUM ISETEENIN only process VALD', '-27.83']
[1714, '29-04-2022', 'KAUBAMAJA', '17/05/1990 man kaart...510006 KAUBAMAJA TALLINN/HARJUMAA, hand natural', '-1.79']
[1714, '29-04-2022', 'TALLINN', '17/05/1990 man kaart...510006 KAUBAMAJA TALLINN/HARJUMAA, hand natural', '-1.79']

In [13]:
# Parem versioon sellest, kuidas splittida merchantInfot. Splitib " ", "," ja "/" põhjal.

import re

for index, row in df.iterrows():
    if pd.notnull(row["remittanceInfo"]) and isinstance(row["remittanceInfo"], str) and len(row["remittanceInfo"]) >= 1:
        listina = re.split(r'[ ,/]', row["remittanceInfo"])
        if index <= 99:
            print(index, listina)
#ei saa aru miks see parem on -Tamm

0 ['567176******6366', 'toward', 'information', 'MAKSIMARKET', 'outside', 'VILJANDIMAA', '']
1 ['157466******5153', 'pay', 'LIDL', 'own', 'TARTU', 'sound', 'behind', 'TARTUMAA', '', 'dinner']
2 ['(..2754)', 'politics', 'garden', 'property', 'POHJAKESKUS', 'today', 'tee', 'minute', 'set', 'hand', 'every']
3 ['24', '04', '1997', 'resource', 'kaart...878232', 'VILJANDI', 'MAKSIMARKET', 'VILJANDIMAA', '', 'EST', 'carry']
4 ['14', '05', '1977', 'such', 'kaart...983921', 'less', 'OUe', 'Tallinn', 'EST', 'animal']
5 ['Jou']
6 ['551163******9009', 'which', 'ICA', 'AB', 'TARTU', 'LOUNAKESK', 'six', 'TARTUMAA', '', 'TAR']
7 ['Kaart:411726******8003', 'human', 'seven', 'community', 'act', '-', 'Maxima', 'bank', '-', 'three', 'community']
8 ['576266******5911', 'return', 'RIMI', 'TATARI', 'RIMI', 'ISETE', 'travel', 'TALLINN']
9 ['368085******4980', 'difficult', 'act', 'KONSUM', 'ISETEENINDUSKESKVALJAK', '1KARDLA9']
10 ['(..3385)', 'when', 'increase', 'security', 'H', '&', 'M', 'LOUNAKESKUS', 'least', 'arm', 'TARTU', 'LINN', 'tough', 'sea']
11 ['29', '05', '1985', 'traditional', 'kaart...609240', 'huge', 'SELVERI', 'ISETEENI', 'TALLINN', 'EST', 'team']
12 ['280753******0740', 'matter', 'view', 'DELICE', 'ISETEENINDURANDVERE', 'TEE', 'fly']
13 ['(..9422)', 'see', 'cup', 'coach', 'require', 'general', 'at', 'data']
14 ['146990******6058', 'light', 'IHASTE', 'KONSUM', 'marriage', 'TARTUMAA', '', 'buy']
15 ['(..6392)', 'environmental', 'middle', 'financial', 'successful', 'Turu', 'little', '1Tallinn10412', 'even']
16 ['even']
17 ['(..1988)', 'short', 'simply', 'stand', 'SELVER', 'ISETEENINSOBRA', 'wrong', 'TARTU', 'LINN', 'animal', 'thought']
18 ['23', '07', '1973', 'half', 'kaart...710047', 'RIMI', 'VILJANDI', 'director', 'RI', 'VILJANDIMAA', '', 'EST', 'go']
19 ['804052******3166', 'nation', 'R-KIOSK', 'white', 'forget', 'reveal', 'TALLINN']
20 ['Narvesen', 'garden']
21 ['114088******7776', 'mind', 'ICA', 'paper', 'RIMI', 'H', 'else', 'TALLINN']
22 ['650344******0573', 'do', 'ICA', 'six', 'RIMI', 'road', '64TALLINN10']
23 ['328900******4997', 'door', 'together', 'SELVER', 'ISETEENI', 'lead', 'TARTU', 'LINN']
24 ['05', '08', '1972', 'follow', 'kaart...826439', 'Prisma', 'Sikupilli', 'TALLINNA', 'EST', 'result']
25 ['16', '02', '2013', 'now', 'kaart...990465', 'RISTI', 'KAUPLUS', 'RISTI', 'parent', 'hard']
26 ['17', '04', '1980', 'like', 'kaart...929592', 'great', 'SELVERI', 'ISET', 'TALLINN', 'EST', 'issue']
27 ['(..5005)', 'myself', 'example', 'REMA', 'response', 'nation', 'character', 'out', 'old', 'fight', 'about', 'one', 'per', 'thus', 'konverteerimistasu', 'whatever', 'science', 'think', 'move', 'condition', 'already', 'behavior', 'management', 'choice']
28 ['230764******1689', 'low', 'KAUBAMAJA', 'TARTU', 'leader', 'TARTUMAA', '', 'TAR']
29 ['01', '10', '2009', 'age', 'kaart...223453', 'good', 'RIMI', 'painting', 'ISETE', 'TALLINN', 'EST', 'including']
30 ['04', '09', '2004', 'kitchen', 'kaart...153999', 'Prisma', 'Kristiine', 'Kesku', 'TALLINNA', 'EST', 'control']
31 ['614921******6876', 'test', 'Prisma', 'Kristiine', 'Kesku', 'end', 'TALLINNA']
32 ['(..0107)', 'late', 'paper', 'who', 'SELVER', 'onto', 'employee', 'TARTU', 'LINN', 'stand', 'crime']
33 ['(..4984)', 'glass', 'nearly', 'today', 'Selver', 'street', 'Tallinn', 'scene', 'space']
34 ['024896******6926', 'money', 'Prisma', 'eight', 'citizen', 'TALLINNA']
35 ['(..6105)', 'its', 'walk', 'provide', 'SELVER', 'ISETEENIHAABNEEME', '', 'direction', 'TEE', 'change', 'power', 'VALD', 'ahead', 'instead']
36 ['442106******7846', 'good', 'MAXIMA', 'NARVA', 'certain', 'place', 'behind', 'TARTU', 'LINN']
37 ['(..6124)', 'seat', 'hope', '"GROSSI', 'TOIDUKAUBAD"', 'yes', 'TEE', 'include', 'LOO', 'owner', 'alone', 'exist']
38 ['549703******0345', 'very', 'member', '"GROSSI', 'TOIDUKAUBADPIIRI', 'decide']
39 ['26', '10', '2005', 'both', 'kaart...455285', 'EEDENI', 'MAKSIMARKET', 'TARTU', 'especially', 'think']
40 ['(..3744)', 'successful', 'name', 'road', 'SELVERI', 'ISETEENINUKSNURME', 'TEE', 'answer', 'ahead', 'ago', 'share', 'can']
41 ['20', '10', '1996', 'sea', 'kaart...640384', 'man', 'SELVER', 'TARTU', 'summer', 'item']
42 ['throughout', 'gas', 'human', 'who', 'happy']
43 ['15', '04', '2016', 'way', 'kaart...002379', 'building', 'KAUBAMAJAHAAPSA', 'data']
44 ['403028******3553', 'doctor', 'southern', 'KONSUMNABALA', 'TEE', 'drop']
45 ['210729******0227', 'mean', 'her', 'book', 'hospital', 'POLVA', 'have']
46 ['(..7434)', 'forward', 'light', 'collection', 'SELVERI', 'site', 'TEE', 'network', 'TALLINN', 'man', 'reality']
47 ['672132******6033', 'name', 'some', 'AS', 'TEHASEPOOD', 'ago', 'TARTU']
48 ['905621******2086', 'culture', 'opportunity', 'KONSUM', 'ISETEENIN', 'only', 'process', 'VALD']
49 ['(..5400)', 'learn', 'live', 'EEDENI', 'MAKSIMARKET', 'point', 'TEE', 'enough', 'TARTU', 'LINN', 'ball', 'sign']
50 ['038059******4436', 'town', 'Prisma', 'Rocca', 'al', 'Mare', 'relate', 'TALLINNA']
51 ['874795******4330', 'represent', 'PAIDE', 'MAKSIMARKETRINGTEE', 'realize', 'determine']
52 ['(..1160)', 'agent', 'fast', 'measure', 'RIMI', 'SM', 'ISETEENIE.VILDE', 'cost', 'include', 'minute', 'born']
53 ['17', '05', '1990', 'man', 'kaart...510006', 'KAUBAMAJA', 'TALLINN', 'HARJUMAA', '', 'hand', 'natural']
54 ['(..1465)', 'rock', 'that', 'herself', 'Selver', 'Tallinn', 'size', 'father']
55 ['28', '04', '2006', 'agent', 'kaart...651751', 'K-market', 'benefit', 'model']
56 ['(..1968)', 'growth', 'good', 'ASTANGU', 'RIMI', 'ASTANGU', 'answer', 'TALLINN', 'energy', 'music']
57 ['(..5508)', 'threat', 'risk', 'movement', 'SELVER', 'NARVA', 'yet', 'myself', 'TALLINN', 'bar', 'much']
58 ['(..9202)', 'responsibility', 'short', 'A1000MARKET', 'medical', 'TALLINN', 'that', 'religious']
59 ['19', '03', '1997', 'for', 'kaart...574182', 'live', 'KONSUM', 'ULENURME', 'ask', 'dinner']
60 ['13', '01', '1988', 'feel', 'kaart...345256', 'RIMI', 'SOPRUSE', 'RIMI', 'HM', 'TALLINN', 'EST', 'recently']
61 ['03', '11', '2009', 'be', 'kaart...357489', 'his', 'KONSUM', 'ISETEENIND', 'JURI', 'exist', 'yeah']
62 ['20', '05', '1999', 'former', 'kaart...564944', 'probably', 'SELVERI', 'ISETEENI', 'TALLINN', 'EST', 'cover']
63 ['(..0935)', 'surface', 'huge', 'performance', 'KONSUM', 'hear', 'executive', 'TARTUMAA', '', 'consider', 'must']
64 ['(..0086)', 'consumer', 'respond', 'OU', 'game', 'TURU', 'business', 'race', 'case', 'smile', 'office']
65 ['109784******9822', 'paper', 'MAXIMA', 'coach', 'TEE', 'much', 'church', 'kitchen', 'TAL']
66 ['25', '09', '2008', 'turn', 'kaart...430729', 'VORSTIABI', 'TALLINN', 'EST', 'his']
67 ['464157******2078', 'official', 'GROSSI', 'TOIDUKAUBAD', 'back', 'religious']
68 ['11', '01', '1986', 'sport', 'kaart...266732', 'RIMI', 'HIIU', 'RIMI', 'SM', 'toward', 'election', 'whose']
69 ['(..8478)', 'in', 'history', 'RIMI', 'TELLISKIVI', 'RIMI', 'color', 'source', 'TALLINN', 'affect', 'contain']
70 ['21', '07', '1970', 'common', 'kaart...113982', 'PAIDE', 'MAKSIMARKET', 'JARVAMAA', '', 'cause', 'beautiful']
71 ['09', '08', '1979', 'pull', 'kaart...690662', 'campaign', 'Selver', 'Tallinn', 'EST', 'work']
72 ['(..5596)', 'than', 'where', 'WWW.RIMI.EE', 'EPOOD', 'put', 'TEE', 'hour', 'money', 'participant', 'perform']
73 ['(..4186)', 'clearly', 'example', 'Maxima', 'EET580TURU', 'state', '14TARTUUNKNOWN', 'EST']
74 ['06', '08', '1973', 'cut', 'kaart...112792', 'ICA', 'wrong', 'RIMI', 'conference', 'VALD', 'EST', 'sure']
75 ['hospital', 'thought', 'soldier', 'use', 'Mrs', 'statement', 'capital', 'feel', 'KONSUM', 'smile', 'hospital', 'song', 'later', 'choice', 'phone']
76 ['25', '05', '1975', 'herself', 'kaart...589093', 'term', 'KONSUM', 'TARTUMAA', '', 'degree', 'society']
77 ['283174******5613', 'million', 'activity', 'RIMI', 'ISETEENINDUSTORREMAE', 'subject']
78 ['06', '06', '2022', 'eye', 'kaart...627909', 'gun', 'response', 'SELVERI', 'away', 'in', 'loss']
79 ['206070******9965', 'find', 'EEDENI', 'MAKSIMARKETKALDA', 'TEE', '1CTARTU', 'keep']
80 ['680506******0150', 'give', 'material', 'Selver', 'ready', 'tree', 'Tallinn']
81 ['18', '03', '1987', 'yourself', 'kaart...713111', 'dog', 'SELVER', 'ISETEENINDUS', 'TALLINN', 'EST', 'class']
82 ['(..8540)', 'girl', 'morning', 'KURESSAARE', 'MAXIMA', 'PAKITALLINNA', '64KURESSAARE93818', 'EST']
83 ['(..9402)', 'necessary', 'court', 'war', 'myself', 'almost', 'at', 'family', 'PM', 'note', 'particularly']
84 ['(..0445)', 'tough', 'party', 'Prisma', 'happy', '4TALLINNA12918', 'five']
85 ['Ica', 'church', 'Rimi', 'against']
86 ['22', '03', '2011', 'anyone', 'kaart...535267', 'like', 'RIMI', 'ISETEENIN', 'LAANE-VIRUMAA', 'EST', 'marriage']
87 ['935713******0734', 'pattern', 'here', 'development', 'TALLINN']
88 ['091309******1073', 'attorney', 'past', 'party', 'road', 'catch', 'TALLINN']
89 ['(..7416)', 'me', 'grow', 'Maxima', 'EET560TALLINNA', '64KURESSAAREUNKNOWN', 'EST']
90 ['02', '10', '2005', 'control', 'kaart...166693', 'whom', 'POOD', 'AUDRU', 'market', 'my']
91 ['(..3981)', 'significant', 'tell', 'wall', 'SELVER', 'NARVA', 'today', 'financial', 'TALLINN', 'owner', 'cause']
92 ['429342******3598', 'wind', 'selver.ee', 'its', 'Tallinn']
93 ['full', 'charge', 'character', 'well', 'laugh', 'me', 'all', 'federal', 'A', 'JA', 'O', 'skill', 'condition', 'certainly', 'general', 'Mr', 'author']
94 ['230368******9254', 'prevent', 'food', 'SELVERI', 'ISET', 'maintain', 'TALLINN']
95 ['10', '01', '1995', 'paper', 'kaart...359603', 'JARVE', 'SELVERI', 'ISETEENI', 'TALLINN', 'EST', 'former']
96 ['21', '05', '2022', 'scientist', 'kaart...873467', 'PLUS', 'involve', 'wife', 'race', 'beautiful']
97 ['02', '07', '1989', 'value', 'kaart...752516', 'garden', 'KONSUM', 'TORI', 'VALD', 'EST', 'learn']
98 ['17', '01', '2002', 'toward', 'kaart...259800', 'upon', 'SELVER', 'TALLINN', 'EST', 'short']
99 ['(..5008)', 'sea', 'energy', 'RIMI', 'TOOSTUSE', 'RIMI', 'treat', 'give', 'so', 'boy', 'identify']