In [2]:
import pandas as pd

data = pd.read_csv("groceriesSynthetic.tsv", sep = "\t")
df = pd.DataFrame(data)
df_original = pd.DataFrame(data)

In [3]:
#Checking if all the values in currency are EUR
print(df["currency"].nunique() == "EUR")

False

In [4]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
#print(rows_with_other_currencies)

In [5]:
pip install CurrencyConverter

Collecting CurrencyConverter
  Downloading CurrencyConverter-0.17.13-py3-none-any.whl (582 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 582.3/582.3 kB 8.9 MB/s eta 0:00:00
Installing collected packages: CurrencyConverter
Successfully installed CurrencyConverter-0.17.13

In [6]:
df.head()

,id,formattedDate,merchantName,remittanceInfo,value,currency
0,1269,24-07-2023,NaN,567176******6366 toward information MAKSIMARKE...,-13.59,EUR
1,319,14-06-2023,NaN,157466******5153 pay LIDL own TARTU sound behi...,-0.89,EUR
2,981,28-10-2022,NaN,(..2754) politics garden property POHJAKESKUS ...,-1.68,EUR
3,1340,20-02-2023,MAKSIMARK small Port Kendrabury,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9,EUR
4,604,15-05-2023,OU rather Lake Jorgebury,14/05/1977 such kaart...983921 less OUe/Tallin...,-37.32,EUR

In [7]:
#print(df.columns)
#print(df.head(10))

# Assuming your DataFrame is named df
rows_with_nan_currency = df[pd.isna(df["currency"])]

for index, row in rows_with_nan_currency.iterrows():
  df.drop(index, inplace = True)

for index, row in df.iterrows():
  if row["currency"] != "EUR":
    print(row.tolist())

[704, '06-03-2023', nan, '292384******9276 either JARVE SELVERI ISETEENINDUPARNU guy game', '-10.74', 'USD']
[1384, '25-06-2023', nan, '(..3895) carry any WoltItaemerenkatu somebody new', '-5.7', 'SEK']
[1381, '04-04-2023', nan, '(..6464) always sign protect everybody improve make 1 TALLINN drug it', '-22.44', 'SEK']
[18, '16-03-2023', nan, '(..5274) scene prepare ICA AB/PARNU RIMI old decade fire PARNU LINN impact imagine', '-34.07', 'USD']
[1110, '01-12-2022', nan, '999293******7961 traditional phone RIMI no three TALLINN', '-22.28', 'CAD']
[1197, '23-02-2023', nan, '(..1713) program ground MAXIMA.EE/APP above medical collection price whatever', '-1.91', 'AUD']
[1353, '28-05-2023', 'Prisma beat West Diana', '27/09/2009 thousand kaart...433124 Prisma Rocca al Mare/TALLINNA/EST mission', '-9.96', 'CHF']
[1144, '28-02-2023', 'Konsum own West Emily', '22/06/2016 beat kaart...299283 RAADIMOISA KONSUM/TARTU VALD/EST at', '-5.14', 'CAD']
[379, '03-05-2023', nan, '(..2586) information stage STOCKMANN TALLINN indicate open TALLINN real ball', '-10.95', 'USD']
[971, '07-08-2023', nan, '(..7434) state foot rate far cold bank or six', '-17.38', 'USD']
[1222, '01-03-2023', nan, 'Kaart:000414******0967 probably car city month - Prisma Kristiine Keskus - thousand condition', '-29.39', 'USD']
[25, '27-10-2022', nan, '052626******5964 factor PAIDE SELVER ISETEENINDUSAIAVILJA 4PAIDE727', '-6.12', 'CHF']
[1699, '19-03-2023', nan, '(..4055) risk budget standard SELVERI ISETEENRUMMU TEE environment TALLINN home give', '-16.8', 'USD']
[12, '07-02-2023', nan, '570733******7526 city LIDL however TALLINN people manage by', '-3.18', 'USD']
[1863, '20-06-2023', nan, '103975******0144 your test KONSUM Tallinn message', '-13.94', 'CAD']
[1458, '13-01-2023', nan, '(..8403) imagine foreign VEERIKU SELVER ISETEENVITAMIINI 1 TARTU LINN nature lay', '-3.57', 'USD']
[677, '22-09-2023', 'Prisma wear Samanthaland', '529811******6161 right Prisma Rocca al Mare day TALLINNA', '-21.86', 'USD']
[735, '26-01-2023', 'LIDL page Port Davidside', '441134******8833 share LIDL thing TARTU apply T along TARTUMAA, TAR', '-5.69', 'SEK']
[1522, '06-12-2022', nan, '818898******0875 shake remember RIMI SM Tallinn determine', '-17.11', 'GBP']
[1815, '19-07-2023', nan, '(..3513) cup vote free KONSUM it family recent LINN whatever table', '-71.97', 'DKK']
[1357, '05-09-2022', 'TOIDUKAUBAD sit East Sabrina', '10/10/1984 partner kaart...800203 GROSSI TOIDUKAUBAD/RAKVERE/EST ok', '-22.61', 'USD']
[629, '02-01-2023', nan, '(..4738) itself way notice Selver Tallinn much political', '-1.39', 'AUD']
[617, '21-05-2023', 'MAXIMA usually Port Jameshaven', '547665******8202 often MAXIMA/MAXIMA guy center what TALLINN', '-0.58', 'USD']
[576, '25-02-2023', nan, '(..0054) can concern ICA AB/TARTU foot blood TARTUMAA, resource record', '-6.9', 'CAD']
[1478, '03-10-2023', nan, '373201******6085 guy MAXIMA hit TEE change customer TEE former', '-7.499999999999999', 'CAD']
[1721, '10-07-2023', 'Rimi nearly New Lisa', 'Rimi', '-6.23', 'USD']
[1500, '24-07-2023', nan, '(..3493) foreign must education TURU return 1 lawyer hair everything', '-35.83', 'CHF']
[1706, '16-06-2023', nan, '456701******0419 tree RIMI/TABASALU RIMI wind middle 10BTABAS', '-21.61', 'SEK']
[933, '10-06-2023', 'KARDLA end West Kyleport', '039765******0796 drug RIMI/KARDLA RIMI ISETE article who KARD', '-5.35', 'USD']
[338, '15-03-2023', nan, '394823******9502 beyond Prisma Kristiine Kesku behavior TALLINNA', '-38.31', 'USD']
[889, '11-04-2023', nan, '(..0640) new I LIDL attack TALLINN window TEE writer project night hair', '-6.58', 'USD']
[1211, '20-03-2023', 'AS officer Reyesbury', 'coach suggest', '-27.74', 'MYR']
[1785, '12-10-2023', nan, '320212******5759 you SUPERSA OUe eat Tallinn', '-10.65', 'USD']
[1287, '24-02-2023', nan, 'Kaart:175059******4834 serve seat baby recognize - say KONSUM ISETEENINDUSK - friend score', '-49.93', 'SEK']
[1494, '09-05-2023', 'KARDLA west New Natalie', '03/09/1984 without kaart...427522 RIMI/KARDLA RIMI democratic under into', '-1.94', 'CAD']
[1454, '24-04-2023', nan, '(..1341) ahead worker old MAKSIMARKET many attack TARTU LINN rest must', '-17.55', 'GBP']
[1501, '12-12-2022', 'as run East Paul', '02/03/1974 artist kaart...305141 Prisma Lasnamae/TALLINNA/EST bring', '-16.22', 'USD']
[519, '21-05-2022', nan, '720659******3929 drive PARNU agree RIMI PARNUMAA, PAR past', '-14.5', 'CAD']
[962, '17-02-2023', nan, '(..2645) also five Maxima note tee 9TallinnUNKNOWN EST', '-24.71', 'USD']
[295, '14-02-2023', nan, '052465******0397 year position SELVER ISETEE idea TALLINN', '-30.44', 'USD']
[1462, '26-07-2023', 'Gomez, Washington and Perry', 'lidl+kink', '-33.88', 'USD']
[398, '06-05-2023', 'SELVER worker Port Jillside', '09/02/1973 center kaart...203433 realize SELVERI ISETEEN/TALLINN/EST memory', '-3.47', 'USD']
[401, '18-01-2023', nan, '091687******2600 note tend KONSUMUJULA 2TARTUMAA, consider', '-5.58', 'USD']
[1755, '15-05-2023', nan, 'Kaart:773019******0339 final gas attack season - play KONSUM ISETEENINDUS - election join', '-3.74', 'USD']
[746, '29-04-2023', 'AS represent Bradleytown', '31/12/2020 movie kaart...636635 K-CITYMARKET JYVASKYLA/JYVASKYLA/FIN recognize', '-9.88', 'USD']
[1613, '10-11-2022', 'Wood-Baker', '13/04/1986 space kaart...981298 tonight task FOOD administration wish training', '-6.79', 'USD']
[927, '16-01-2023', 'KONSUM station Lake Joshuaside', '157105******6025 since last KONSUM simple case maintain', '-8.33', 'GBP']
[1756, '24-07-2023', 'turg couple Port Chadton', '01/03/2009 tax kaart...549263 KESKTURG/TALLINN/EST for', '-10.97', 'USD']
[1258, '14-06-2023', nan, '(..0600) front street Prisma Rocca al ahead indeed 102TALLINNA13522 expect', '-25.18', 'USD']
[1220, '17-08-2023', nan, '(..1084) establish customer high TURU scientist need 1 TALLINN stay certain', '-50', 'USD']
[1283, '11-09-2023', nan, '029442******0479 mind play budget TOIDUPOOD war TALLINN', '-31.029999999999998', 'USD']
[1022, '20-10-2022', nan, '(..0594) sound senior ICA defense RIMI NARVA establish 1 TALLINN fire music', '-13.57', 'USD']
[1238, '16-04-2023', nan, '(..8738) cell box R-KIOSK VIRU BUSSITERMVIRU name consumer TALLINN voice now', '-10.97', 'USD']
[1077, '08-03-2023', nan, '(..5547) of only from LOUNAKESKUS operation data TARTU mention personal', '-4.6', 'CHF']
[1490, '22-04-2023', nan, '(..6517) despite environmental JARVE SELVERI ISETEENIPARNU traditional impact TALLINN month individual', '-4.38', 'USD']
[1743, '02-06-2023', nan, '(..3292) can strong Maxima machine 55TARTUUNKNOWN EST', '-25.16', 'GBP']
[1151, '30-01-2023', nan, '(..9851) again generation food CASABERMEJA town action CASABERMEJA turn tend deal protect', '-5.29', 'USD']
[770, '30-09-2022', 'MAKSIMARK seem South Tyler', '109692******4195 scientist prove MAKSIMARKETRIIA 2TARTU happen', '-12.96', 'USD']
[1507, '18-04-2023', 'Rocca al Mare front Faithfort', '10/12/2002 realize kaart...978603 Rocca al Mare Biomarke/Tallinn/EST operation', '-2.6', 'CHF']
[749, '01-06-2023', nan, '889410******5431 various GROSSI TOIDUKAUBAD entire TALLINN', '-2.65', 'USD']
[1693, '26-06-2023', nan, '(..4657) ability toward KAUBAMAJA TALLINN shoulder 2/VIRU produce get I test son', '-7.77', 'USD']
[1534, '21-06-2022', 'Prisma strong Lake Veronica', '663471******2469 again Prisma Kristiine Kesku control TALLINNA', '-3.16', 'USD']
[200, '24-01-2023', nan, '(..2126) participant child Prisma Tartu SobraS?bra 58Tartu50106 attention', '-8.34', 'USD']
[1067, '07-07-2022', 'KAUBAMAJA wonder Josephtown', '28/08/1975 two kaart...760642 exactly KAUBAMAJAHAAPSA tell', '-2.18', 'SEK']
[685, '07-06-2023', 'MAXIMA enter North Seanborough', '05/11/1982 couple kaart...383657 MAXIMA EE T760/TALLINN/EST number', '-3', 'CAD']
[1614, '12-02-2023', 'RIMI seem Marissafurt', '067033******7676 half RIMI/FINEST RIMI season IS tonight TALLINN', '-49.36', 'USD']
[1280, '19-11-2022', nan, '630741******1555 exist 1000 GOURMET office allow', '-4', 'USD']
[1575, '09-03-2023', 'SELVER determine East Thomasport', '728377******1943 life almost SELVER ISETEENIN worry war woman', '-22.9', 'USD']
[1815, '28-09-2023', nan, '(..6047) really find production onto adult issue TALLINN bed realize', '-5.85', 'USD']
[334, '24-03-2023', nan, 'Kaart:100259******0658 compare KRISTI model may - five KONSUM - consumer woman', '-2.99', 'USD']
[1463, '17-02-2023', nan, '(..5666) black year ICA use RIMITELLISKIVI cup TALLINN loss across', '-13.93', 'USD']
[1458, '01-06-2023', nan, '(..8456) foreign save condition SELVERI him your TARTUMAA, picture long', '-12.38', 'USD']
[976, '03-07-2023', nan, '(..0952) case nearly others SELVERI ISETEENPEETRI start relationship T others VALD voice national', '-3.83', 'USD']
[961, '10-09-2023', 'KONSUM believe Port Bethland', '07/02/1971 hit kaart...656169 certain KONSUM/HARJUMAA, center finish', '-1.59', 'GBP']
[403, '26-08-2023', nan, '(..0357) event maybe special MAJA R-KIOSK guess wrong TALLINN bill development', '-34.99', 'AUD']
[829, '17-10-2023', nan, '(..1478) impact story explain SELVER NARVA necessary however TALLINN your economic', '1.08', 'USD']
[1026, '24-09-2022', nan, '(..5760) item city ICA back RIMI ITARTU should 10 TALLINN personal hear', '-25.9', 'THB']
[1128, '11-11-2022', 'COOP newspaper North Raymondmouth', '26/02/2023 wind kaart...714388 POLVA COOP KONSUM/POLVA/EST house', '-4.49', 'CHF']
[1500, '20-01-2023', nan, '(..2953) doctor former RIMI/POHJA RIMI soldier animal decade TALLINN popular past', '-8.17', 'USD']
[952, '01-04-2023', 'KONSUM event Brianton', '03/05/1973 page kaart...255973 away KONSUM/TORI VALD/EST list', '-1.34', 'USD']
[1097, '12-03-2023', nan, '(..4504) data professional world SELVERI ISETEENINKALDA TEE attack TARTU learn education', '-5.15', 'CHF']
[204, '25-04-2023', nan, '(..1680) ability administration rate FOOD nearly 1TALLINN10412 EST', '-1.89', 'USD']
[1161, '10-05-2023', 'TOIDUKAUBAD real East Emilyhaven', '234165******7885 high GROSSI TOIDUKAUBAD light TALLINN', '-2.08', 'CHF']
[406, '27-03-2023', nan, '993325******6004 receive JARVE SELVER TALLINN pick', '-2.31', 'USD']
[479, '15-05-2023', 'Bennett-Krause', 'else Rahakogujasse education arrive real yourself fund MAKSIMARKET/27.03.2022', '-8.73', 'GBP']
[1770, '10-05-2022', nan, '(..7689) heavy beautiful whole hold friend TARTU plant after', '-23.76', 'USD']
[1055, '20-06-2023', nan, '(..3059) must store Prisma Tartu SobraS?bra 58Tartu50106 reason', '-3.9399999999999995', 'GBP']
[1815, '11-04-2023', nan, '(..5931) firm list ICA simple RIMI ITARTU it 10 TALLINN movement remain', '-2.28', 'AUD']
[1589, '11-03-2023', nan, '(..5915) north story factor SELVER across drive doctor hospital method health', '-8.58', 'USD']
[868, '30-08-2023', 'SELVER serious New Courtneyland', '28/12/1988 feel kaart...413042 foot SELVERI ISET/TALLINN/EST simply', '-1.19', 'CAD']
[968, '12-11-2022', nan, '(..9003) statement return LIDL/LIDL thought TARTU option TEE dinner TARTUMAA, every election', '-14.05', 'GBP']
[25, '01-09-2023', nan, '(..6498) draw down since MAKSIMARKET firm go TARTU LINN seem analysis', '-0.18', 'USD']
[503, '29-06-2023', nan, '(..1055) property box position KAUPLUS we without TARTU paper represent', '-37.79', 'USD']
[744, '11-10-2023', nan, '(..1927) north might certainly TOIDUPOOD ESTONIA later image TALLINN plan hope', '-5.88', 'CAD']
[350, '04-07-2022', 'SELVER its East Daniel', '03/07/1972 impact kaart...093477 VEERIKU SELVER ISETEEN/TARTU age lead', '-9.46', 'USD']
[622, '31-12-2022', nan, '(..6729) five list American SELVERI ISETEENPEETRI talk assume T produce VALD institution evening', '-2.04', 'GBP']
[1536, '15-06-2023', 'RIMI sense South Josephtown', '222458******2844 product RIMI/PELGULINNA RIMI tree voice TAL', '0.51', 'USD']
[1474, '20-08-2023', nan, '(..2293) call give seek KONSUM VILJANDI spend major TALLINN foreign later', '-24.02', 'THB']
[848, '21-04-2023', nan, '139047******7726 impact ICA century RIMI toward 64TALLINN10', '-4.07', 'USD']
[447, '10-04-2023', nan, '870734******5426 successful evening true successful may painting', '-7.67', 'GBP']
[113, '20-08-2022', nan, '(..5730) her trade RIMI/SAUE RIMI SM ISETKESKUSE open cover LINN opportunity term', '-2.78', 'USD']
[190, '20-11-2022', 'SELVER appear Davismouth', '12/10/1980 compare kaart...044814 account SELVER ISETEEN/VILJANDI/EST fire', '-7.82', 'USD']
[1513, '11-05-2023', 'SELVER help South Shannon', '396433******2736 same SAARE SELVER ISETEENIN individual KURESSAARE', '-15.09', 'USD']
[611, '15-09-2022', nan, '603235******2717 yeah single SELVER ISETE adult TALLINN', '-3.94', 'USD']
[477, '13-07-2023', nan, '790046******1240 scientist "GROSSI TOIDUKAUBAD" K hold require VALD', '-10', 'USD']
[1599, '23-03-2023', nan, '(..0177) leader whatever Maxima even tee 148TallinnUNKNOWN EST', '-28.48', 'USD']
[13, '01-04-2023', nan, '455578******6756 official option SELVER ISETEENI power TARTU LINN', '-36.11', 'USD']
[1599, '05-05-2023', nan, '(..2353) spring its writer SELVER to resource TALLINN owner catch', '-3.39', 'NOK']
[106, '14-04-2023', nan, '(..3988) total paper ICA AB/RIMI real drop catch TALLINN respond perform', '-40.67', 'USD']
[503, '02-01-2023', nan, '(..2041) one owner TARTU TASKU RIMI ISETETURU left TARTU LINN individual camera', '-29.16', 'USD']
[1678, '10-06-2022', 'Maxima lead Davenportside', '05/07/2000 door kaart...202817 Maxima EET740/PARNU/EST job', '-1.39', 'USD']
[811, '17-11-2022', nan, '(..7424) she student maintain SELVER significant often TARTU LINN lose remember', '-1.5', 'USD']
[1326, '18-02-2023', nan, 'Kaart:854271******1134 treatment KASPAR KALLASTE. able - LIDL/LIDL because TALLINN various - act town', '-54', 'USD']
[1327, '17-10-2022', 'RIMI themselves West Alexandria', '01/01/2010 court kaart...584699 ICA particular RIMI SM stop board movie', '-28.48', 'USD']
[149, '20-09-2023', 'RIMI college West Richardmouth', '09/11/1979 rule kaart...383075 onto RIMI HM/TALLINN/EST easy', '-141.82', 'USD']
[901, '17-11-2022', 'KESKUS cold Patrickmouth', '05/09/2021 think kaart...724413 ball TOIDUKESKUS/VORU/EST nice', '-75.97', 'USD']
[1223, '21-06-2023', nan, '(..2214) yard ok radio KONSUM example per make food cut power', '-11.77', 'CHF']
[513, '21-12-2022', 'SELVER machine South Andrewstad', '06/08/2018 thought kaart...637188 when SELVER ISETEENIN/TALLINN/EST charge', '-7.65', 'USD']
[402, '14-08-2023', 'Prisma direction East Matthew', '252513******3001 detail Prisma avoid attorney cultural', '-5.37', 'USD']
[4, '11-12-2022', nan, '(..5840) rest difficult Tartu BiomarketKuuni 7Tartu51004 would', '-9.07', 'USD']
[342, '27-09-2022', nan, '(..2084) camera campaign ICA understand RIMI better apply question chair change', '-6.21', 'SEK']
[902, '30-05-2023', nan, '(..6655) admit weight KAUBAMAJA TALLINN same 2/VIRU political arm weight by myself', '-2.46', 'CAD']
[175, '10-06-2023', nan, 'Kaart:418411******8080 hotel people network benefit - TARTU REBASE RIMI ISETEEN - because receive', '-25.29', 'USD']
[69, '29-12-2022', 'aS write South Logan', '19/07/1974 writer kaart...560349 Tallinna church Rimi pa/TALLINN/EST truth', '-44.67', 'CHF']
[1067, '19-08-2023', 'R-KIOSK old Lake Danamouth', '25/02/2013 skill kaart...702142 R-KIOSK item 17/TALLINN/EST call', '-29.09', 'USD']
[1707, '14-12-2022', nan, '(..5549) rate very EEDENI MAKSIMARKET parent TEE develop TARTU LINN tell admit', '-9.04', 'SEK']
[526, '14-12-2022', nan, '164947******9578 professor Prisma Rocca al Mare old TALLINNA', '-54.21', 'USD']
[253, '11-08-2023', nan, '023495******1346 assume individual front 255TALLINN13414ESTES', '-21.08', 'USD']
[664, '06-10-2023', 'KONSUM media Lake Kristen', '31/08/2013 under kaart...608475 room KONSUM/TALLINN/EST agree', '-47', 'SEK']
[1861, '09-10-2023', nan, '(..0698) speech along RIMI/VILJANDI join RITALLINNA involve which VILJANDIMAA, smile rock', '-17.62', 'USD']
[1836, '01-07-2022', nan, 'Kaart:526172******7162 address firm you against - "GROSSI TOIDUKAUBAD" LOO - about ago', '-0.15', 'USD']
[1002, '21-06-2023', 'MAKSIMARK identify Port Justin', '21/05/2012 image kaart...416036 LOUNAKESKUSE MAKSIMARK/TARTUMAA, responsibility lay', '-4.9', 'USD']
[1274, '04-09-2023', nan, '(..4862) news opportunity Tallinna Kaubamaja Tallinn price magazine', '-1.05', 'USD']
[1270, '01-07-2023', 'Selver clear Port Robertostad', '05/08/2010 assume kaart...838993 many Selver/Tallinn/EST society', '-40.47', 'USD']
[964, '21-08-2023', nan, '800126******4933 around MAXIMA home TEE usually VI call similar often', '-11.34', 'USD']
[674, '31-07-2023', nan, '(..5678) character company RIMI/MAGISTRALI RIMI certainly usually doctor TALLINN its reduce', '-1.8', 'CHF']
[13, '07-05-2023', nan, '184404******1502 contain ICA this RIMI man TARTU', '-17.52', 'CHF']
[575, '02-04-2023', 'MAXIMA sea Boyerberg', '31/03/2018 information kaart...511722 MAXIMA EET263/TALLINN/EST believe', '-2.89', 'USD']
[450, '10-04-2023', 'OU without Heatherchester', '-', '-1.35', 'USD']
[1582, '26-07-2023', 'POOD policy Port Deborah', '890576******4312 activity project POOD teacher TARTUMAA', '-1.38', 'NOK']
[295, '30-03-2023', nan, '345161******0131 ready nice SELVER ISETEE everybody TALLINN', '-1.59', 'USD']
[1373, '29-12-2022', 'RIMI my West Elizabethhaven', '712259******7921 response RIMI/VANALINNA RIMI to strategy TAL', '-12.44', 'USD']

In [8]:
from currency_converter import CurrencyConverter
import pandas as pd

c = CurrencyConverter()

def currency_to_EUR(row):
    if row["currency"] != "EUR":
        try:
            conversion = c.convert(row["value"], row["currency"], "EUR")
            return round(conversion, 2)
        except Exception as e:
            print(f"Error converting {row['value']} {row['currency']} to EUR: {e}")
            return None
    else:
        return row["value"]

# Iterate over rows in the DataFrame
for index, row in df.iterrows():
    df.at[index, "value"] = currency_to_EUR(row)
    df.loc[index, "currency"] = "EUR"

# Print rows where the currency is not "EUR"
for index, row in df.iterrows():
    if row["currency"] != "EUR":
        print(row.tolist())

In [ ]:
def findMerchant(row, merchants, counter):
    remittance_info = str(row["remittanceInfo"]).upper()
    for merchant in merchants:
        if merchant in remittance_info:
            counter += 1
            row["merchantName"] = merchant
            print(row)
test_df = df.copy()

merchants = ["H & M", "RIMI", "COOP", "SELVER", "KONSUM", "MAKSI"]
counter = 0
#hash = {}
#hash["RIMI"] = ""
for idx, row in test_df.iterrows():
    if row["merchantName"].notnull()
    findMerchant(row, merchants, counter)
    if counter >= 20:
        break