In [47]:
import pandas as pd

data = pd.read_csv("groceriesSynthetic.tsv", sep = "\t")
df = pd.DataFrame(data)
df_original = pd.DataFrame(data)

In [48]:
#Checking if all the values in currency are EUR
print(df["currency"].nunique() == "EUR")

False

In [49]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo   value currency
804    292384******9276 either JARVE SELVERI ISETEENI...  -10.74      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new    -5.7      SEK
1806   (..6464) always sign protect everybody improve...  -22.44      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d...  -34.07      USD
3066   999293******7961 traditional phone RIMI no thr...  -22.28      CAD
...                                                  ...     ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...   -1.09      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...   -1.59      THB
97815  606650******0484 each ICA particularly RIMITAM...    -7.4      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -13.48      SEK
99425   605783******0065 scientist face industry TALLINN   -6.49      THB

[198 rows x 6 columns]

In [50]:
pip install CurrencyConverter

Requirement already satisfied: CurrencyConverter in c:\users\tammk\appdata\local\programs\python\python310\lib\site-packages (0.17.13)
Note: you may need to restart the kernel to use updated packages.

In [51]:
from currency_converter import CurrencyConverter

c = CurrencyConverter()

def currency_to_EUR(value, currency):
    if currency != "EUR":
        try:
            conversion = c.convert(value, currency, "EUR")
            return round(conversion, 2)
        except Exception as e:
            print(f"Error converting {value} {currency} to EUR: {e}")
    return value

df["value"] = df.apply(lambda row: currency_to_EUR(row["value"], row["currency"]), axis=1)

In [52]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo  value currency
804    292384******9276 either JARVE SELVERI ISETEENI... -10.06      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new  -0.49      SEK
1806   (..6464) always sign protect everybody improve...  -1.93      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d... -31.93      USD
3066   999293******7961 traditional phone RIMI no thr... -15.15      CAD
...                                                  ...    ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...  -1.25      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...  -0.04      THB
97815  606650******0484 each ICA particularly RIMITAM...  -0.63      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -1.16      SEK
99425   605783******0065 scientist face industry TALLINN  -0.17      THB

[198 rows x 6 columns]

In [53]:
df = df.drop(columns="currency")

In [54]:
def findMerchant(x):
    if isinstance(x, str):
        mer = ""
        li = x.split()
        i = 0
        while li[i].isupper():
            mer + " " + li[i]
        return mer

In [55]:
#finding all the merchants in the merchantName column
merchantsFromDf = df["merchantName"].apply(lambda x: x.split()[0] if isinstance(x, str) and x.split()[0].isupper() else None).dropna().unique().tolist()
print(merchantsFromDf)

['MAKSIMARK', 'OU', 'RIMI', 'SELVER', 'KAUPLUS', 'KAUBAMAJA', 'KONSUM', 'AS', 'MAXIMA', 'VALD', 'POOD', 'COOP', 'TOIDUKAUBAD', 'TALLINN', 'R-KIOSK', 'PRISMA', 'ISETEEN', 'OÃœ', 'A', 'STOCKMANN', 'LIDL', 'KESKUS', 'GROSSI', 'TURU', 'ICA', 'TURG', 'ISETEENINDUS', 'MAKSEKESKUS', 'PAIDE', 'MEIE', 'KURESSAARE', 'MARKET', 'TARTU', 'WWW.RIMI.EE', 'A&O', 'R', 'VIRU', 'KARDLA', 'VILJANDI', 'PARNU', 'NARVA', 'KRISTIINE', 'JOHVI', 'BOLT', 'NARVESEN', 'KOHTLA-JARVE', 'TOIT', 'POLVA', 'MAARDU', 'SIKUPILLI', 'ROCCA', 'EEDEN', 'PUHVET', 'GET', 'BLOOM', 'APOLLO']

In [56]:
finalMerchantList = ['MAKSIMARK', 'MAKSIMARKET','RIMI','KAUBAMAJA','SELVER', 'KONSUM','MAXIMA', 'COOP','PRISMA','STOCKMANN','LIDL', 'GROSSI', 'ICA', 'MEIE TOIDUKAUBAD',
                    'A&O', 'BOLT MARKET', 'SIKUPILLI', 'BLOOM']

In [57]:
def process_merchant_name_column(row):
    if pd.isnull(row["merchantName"]):
        for merchant in finalMerchantList:
            if merchant in row["remittanceInfo"].upper():
                return merchant
    else:
        list = row["merchantName"].split()
        if list[0].isupper() and list[0] in finalMerchantList:
            return list[0]
        else:
            return None

In [58]:
df["merchantName"] = df.apply(process_merchant_name_column, axis=1)

In [59]:
df = df.dropna(subset=['merchantName'])

In [60]:
df.head(20)

,id,formattedDate,merchantName,remittanceInfo,value
0,1269,24-07-2023,MAKSIMARK,567176******6366 toward information MAKSIMARKE...,-13.59
1,319,14-06-2023,LIDL,157466******5153 pay LIDL own TARTU sound behi...,-0.89
3,1340,20-02-2023,MAKSIMARK,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9
6,400,10-03-2023,ICA,551163******9009 which ICA AB/TARTU LOUNAKESK ...,-5.1
7,1310,04-01-2023,MAXIMA,Kaart:411726******8003 human seven community a...,-17.35
8,184,07-09-2023,RIMI,576266******5911 return RIMI/TATARI RIMI ISETE...,-4.28
9,1292,09-01-2023,KONSUM,368085******4980 difficult act KONSUM ISETEENI...,5
11,535,09-05-2023,SELVER,29/05/1985 traditional kaart...609240 huge SEL...,-21.86
14,690,05-03-2023,KONSUM,146990******6058 light IHASTE KONSUM marriage ...,-1.29
17,322,01-07-2022,SELVER,(..1988) short simply stand SELVER ISETEENINSO...,-34.08
18,525,26-08-2023,RIMI,23/07/1973 half kaart...710047 RIMI/VILJANDI d...,-23.08
21,1065,04-07-2023,RIMI,114088******7776 mind ICA paper RIMI H else TA...,-28.11
22,1853,02-08-2023,RIMI,650344******0573 do ICA six RIMI road 64TALLINN10,-6.43
23,348,28-04-2023,SELVER,328900******4997 door together SELVER ISETEENI...,-9.07
26,868,17-08-2023,SELVER,17/04/1980 like kaart...929592 great SELVERI I...,-14.39
27,1703,04-01-2023,RIMI,(..5005) myself example REMA response nation c...,-16.21
28,1781,25-03-2023,KAUBAMAJA,230764******1689 low KAUBAMAJA TARTU leader TA...,-6.68
29,1817,12-07-2023,RIMI,01/10/2009 age kaart...223453 good RIMI painti...,-11.93
31,369,11-04-2023,PRISMA,614921******6876 test Prisma Kristiine Kesku e...,-4.59
32,828,14-12-2022,SELVER,(..0107) late paper who SELVER onto employee T...,-11.56

In [61]:
df.shape

(66667, 5)

In [62]:
print(df[df["merchantName"]=="KURESSAARE"])

Empty DataFrame
Columns: [id, formattedDate, merchantName, remittanceInfo, value]
Index: []