In [2]:
import pandas as pd

data = pd.read_csv("groceriesSynthetic.tsv", sep = "\t")
df = pd.DataFrame(data)
df_original = pd.DataFrame(data)

In [3]:
#Checking if all the values in currency are EUR
print(df["currency"].nunique() == "EUR")

False

In [4]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo   value currency
804    292384******9276 either JARVE SELVERI ISETEENI...  -10.74      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new    -5.7      SEK
1806   (..6464) always sign protect everybody improve...  -22.44      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d...  -34.07      USD
3066   999293******7961 traditional phone RIMI no thr...  -22.28      CAD
...                                                  ...     ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...   -1.09      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...   -1.59      THB
97815  606650******0484 each ICA particularly RIMITAM...    -7.4      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -13.48      SEK
99425   605783******0065 scientist face industry TALLINN   -6.49      THB

[198 rows x 6 columns]

In [5]:
pip install CurrencyConverter

Requirement already satisfied: CurrencyConverter in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (0.17.13)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [6]:
from currency_converter import CurrencyConverter

c = CurrencyConverter()

def currency_to_EUR(value, currency):
    if currency != "EUR":
        try:
            conversion = c.convert(value, currency, "EUR")
            return round(conversion, 2)
        except Exception as e:
            print(f"Error converting {value} {currency} to EUR: {e}")
    return value

df["value"] = df.apply(lambda row: currency_to_EUR(row["value"], row["currency"]), axis=1)

In [7]:
rows_with_other_currencies = df[df["currency"] != "EUR"]
print(rows_with_other_currencies)

         id formattedDate               merchantName  \
804     704    06-03-2023                        NaN
1362   1384    25-06-2023                        NaN
1806   1381    04-04-2023                        NaN
2530     18    16-03-2023                        NaN
3066   1110    01-12-2022                        NaN
...     ...           ...                        ...
96983   477    15-04-2023                        NaN
97047  1763    16-08-2023                        NaN
97815  1218    05-06-2023                        NaN
97902  1446    30-08-2023                        NaN
99425   985    15-07-2023  TALLINN anyone Debrashire

                                          remittanceInfo  value currency
804    292384******9276 either JARVE SELVERI ISETEENI... -10.06      USD
1362   (..3895) carry any WoltItaemerenkatu somebody new  -0.49      SEK
1806   (..6464) always sign protect everybody improve...  -1.93      SEK
2530   (..5274) scene prepare ICA AB/PARNU RIMI old d... -31.93      USD
3066   999293******7961 traditional phone RIMI no thr... -15.15      CAD
...                                                  ...    ...      ...
96983  023192******2771 audience near KONSUM ISETEEN ...  -1.25      GBP
97047  958082******5941 phone RIMI/HIIU RIMI SM ISETE...  -0.04      THB
97815  606650******0484 each ICA particularly RIMITAM...  -0.63      SEK
97902  (..3332) knowledge toward election TURU ago 1 ...  -1.16      SEK
99425   605783******0065 scientist face industry TALLINN  -0.17      THB

[198 rows x 6 columns]

In [8]:
df = df.drop(columns="currency")

In [9]:
def findMerchant(x):
    if isinstance(x, str):
        mer = ""
        li = x.split()
        i = 0
        while li[i].isupper():
            mer + " " + li[i]
        return mer

In [10]:
#finding all the merchants in the merchantName column
merchantsFromDf = df["merchantName"].apply(lambda x: x.split()[0] if isinstance(x, str) and x.split()[0].isupper() else None).dropna().unique().tolist()
print(merchantsFromDf)

['MAKSIMARK', 'OU', 'RIMI', 'SELVER', 'KAUPLUS', 'KAUBAMAJA', 'KONSUM', 'AS', 'MAXIMA', 'VALD', 'POOD', 'COOP', 'TOIDUKAUBAD', 'TALLINN', 'R-KIOSK', 'PRISMA', 'ISETEEN', 'OÜ', 'A', 'STOCKMANN', 'LIDL', 'KESKUS', 'GROSSI', 'TURU', 'ICA', 'TURG', 'ISETEENINDUS', 'MAKSEKESKUS', 'PAIDE', 'MEIE', 'KURESSAARE', 'MARKET', 'TARTU', 'WWW.RIMI.EE', 'A&O', 'R', 'VIRU', 'KARDLA', 'VILJANDI', 'PARNU', 'NARVA', 'KRISTIINE', 'JOHVI', 'BOLT', 'NARVESEN', 'KOHTLA-JARVE', 'TOIT', 'POLVA', 'MAARDU', 'SIKUPILLI', 'ROCCA', 'EEDEN', 'PUHVET', 'GET', 'BLOOM', 'APOLLO']

In [11]:
finalMerchantList = ['MAKSIMARK', 'MAKSIMARKET','RIMI','KAUBAMAJA','SELVER', 'KONSUM','MAXIMA', 'COOP','PRISMA','STOCKMANN','LIDL', 'GROSSI', 'ICA', 'MEIE TOIDUKAUBAD',
                    'A&O', 'BOLT MARKET', 'SIKUPILLI', 'BLOOM']

In [12]:
def process_merchant_name_column(row):
    if pd.isnull(row["merchantName"]):
        for merchant in finalMerchantList:
            if merchant in row["remittanceInfo"].upper():
                return merchant
    else:
        list = row["merchantName"].split()
        if list[0].isupper() and list[0] in finalMerchantList:
            return list[0]
        else:
            return None

In [13]:
df["merchantName"] = df.apply(process_merchant_name_column, axis=1)

In [14]:
df = df.dropna(subset=['merchantName'])

In [15]:
df.head(20)

,id,formattedDate,merchantName,remittanceInfo,value
0,1269,24-07-2023,MAKSIMARK,567176******6366 toward information MAKSIMARKE...,-13.59
1,319,14-06-2023,LIDL,157466******5153 pay LIDL own TARTU sound behi...,-0.89
3,1340,20-02-2023,MAKSIMARK,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9
6,400,10-03-2023,ICA,551163******9009 which ICA AB/TARTU LOUNAKESK ...,-5.1
7,1310,04-01-2023,MAXIMA,Kaart:411726******8003 human seven community a...,-17.35
8,184,07-09-2023,RIMI,576266******5911 return RIMI/TATARI RIMI ISETE...,-4.28
9,1292,09-01-2023,KONSUM,368085******4980 difficult act KONSUM ISETEENI...,5
11,535,09-05-2023,SELVER,29/05/1985 traditional kaart...609240 huge SEL...,-21.86
14,690,05-03-2023,KONSUM,146990******6058 light IHASTE KONSUM marriage ...,-1.29
17,322,01-07-2022,SELVER,(..1988) short simply stand SELVER ISETEENINSO...,-34.08
18,525,26-08-2023,RIMI,23/07/1973 half kaart...710047 RIMI/VILJANDI d...,-23.08
21,1065,04-07-2023,RIMI,114088******7776 mind ICA paper RIMI H else TA...,-28.11
22,1853,02-08-2023,RIMI,650344******0573 do ICA six RIMI road 64TALLINN10,-6.43
23,348,28-04-2023,SELVER,328900******4997 door together SELVER ISETEENI...,-9.07
26,868,17-08-2023,SELVER,17/04/1980 like kaart...929592 great SELVERI I...,-14.39
27,1703,04-01-2023,RIMI,(..5005) myself example REMA response nation c...,-16.21
28,1781,25-03-2023,KAUBAMAJA,230764******1689 low KAUBAMAJA TARTU leader TA...,-6.68
29,1817,12-07-2023,RIMI,01/10/2009 age kaart...223453 good RIMI painti...,-11.93
31,369,11-04-2023,PRISMA,614921******6876 test Prisma Kristiine Kesku e...,-4.59
32,828,14-12-2022,SELVER,(..0107) late paper who SELVER onto employee T...,-11.56

In [16]:
df.shape

(66667, 5)

In [17]:
print(df[df["merchantName"]=="KURESSAARE"])

Empty DataFrame
Columns: [id, formattedDate, merchantName, remittanceInfo, value]
Index: []

In [1]:
# IMPORTIME re, ET SAAKS SPILTTIDA MITME CONDITIONI PÕHJAL
import re

In [19]:
# TEKITAME UUE TULBA NIMEGA cardNumber NING PANEME VAIKEVÄÄRTUSEKS NONE

df["cardNumber"] = None

In [21]:
# TEKITAME UUED TULBAD NIMEDEGA city, location NING PANEME VAIKEVÄÄRTUSTEKS NONE

df["city"] = None
df["location"] = None

In [23]:
# TEKITAME UUED TULBAD NIMEDEGA selfCheckout, date NING PANEME VAIKEVÄÄRTUSTEKS NONE

df["selfCheckout"] = None
df["date"] = None

In [25]:
# IMPORTIME datetime, ET SAAKSIME TEKITADA KUUPÄEVI

from datetime import *

In [27]:
#  TEKITAME LISTI EESTI LINNADEST

eestiLinnad = [
    "Võru", "Võhma", "Viljandi", "Valga", "Türi", "Tõrva", "Tartu", "Tapa", "Tamsalu", "Tallinn",
    "Suure-Jaani", "Sindi", "Sillamäe", "Saue", "Räpina", "Rapla", "Rakvere", "Püssi", "Pärnu",
    "Põlva", "Põltsamaa", "Paldiski", "Paide", "Otepää", "Narva-Jõesuu", "Narva", "Mõisaküla",
    "Mustvee", "Maardu", "Loksa", "Lihula", "Kärdla", "Kuressaare", "Kunda", "Kohtla-Järve",
    "Kiviõli", "Kilingi-Nõmme", "Keila", "Kehra", "Karksi-Nuia", "Kallaste", "Jõhvi", "Jõgeva",
    "Haapsalu", "Elva", "Antsla", "Abja-Paluoja"
]

# KUNA SAIN SELLE LISTI CHAT-ILT SIIS TEEME KÕIK UPPERCASE NING TEKITAME KA VARIANDID IAGST KUS LÕPUS ON MAA (PÕLVA -> PÕLVAMAA)

for i in range(0, len(eestiLinnad)):
    eestiLinnad[i] = eestiLinnad[i].upper()
    eestiLinnad.append(eestiLinnad[i]+"MAA")

eestiLinnad

['VÕRU',
 'VÕHMA',
 'VILJANDI',
 'VALGA',
 'TÜRI',
 'TÕRVA',
 'TARTU',
 'TAPA',
 'TAMSALU',
 'TALLINN',
 'SUURE-JAANI',
 'SINDI',
 'SILLAMÄE',
 'SAUE',
 'RÄPINA',
 'RAPLA',
 'RAKVERE',
 'PÜSSI',
 'PÄRNU',
 'PÕLVA',
 'PÕLTSAMAA',
 'PALDISKI',
 'PAIDE',
 'OTEPÄÄ',
 'NARVA-JÕESUU',
 'NARVA',
 'MÕISAKÜLA',
 'MUSTVEE',
 'MAARDU',
 'LOKSA',
 'LIHULA',
 'KÄRDLA',
 'KURESSAARE',
 'KUNDA',
 'KOHTLA-JÄRVE',
 'KIVIÕLI',
 'KILINGI-NÕMME',
 'KEILA',
 'KEHRA',
 'KARKSI-NUIA',
 'KALLASTE',
 'JÕHVI',
 'JÕGEVA',
 'HAAPSALU',
 'ELVA',
 'ANTSLA',
 'ABJA-PALUOJA',
 'VÕRUMAA',
 'VÕHMAMAA',
 'VILJANDIMAA',
 'VALGAMAA',
 'TÜRIMAA',
 'TÕRVAMAA',
 'TARTUMAA',
 'TAPAMAA',
 'TAMSALUMAA',
 'TALLINNMAA',
 'SUURE-JAANIMAA',
 'SINDIMAA',
 'SILLAMÄEMAA',
 'SAUEMAA',
 'RÄPINAMAA',
 'RAPLAMAA',
 'RAKVEREMAA',
 'PÜSSIMAA',
 'PÄRNUMAA',
 'PÕLVAMAA',
 'PÕLTSAMAAMAA',
 'PALDISKIMAA',
 'PAIDEMAA',
 'OTEPÄÄMAA',
 'NARVA-JÕESUUMAA',
 'NARVAMAA',
 'MÕISAKÜLAMAA',
 'MUSTVEEMAA',
 'MAARDUMAA',
 'LOKSAMAA',
 'LIHULAMAA',
 'KÄRDLAMAA',
 'KURESSAAREMAA',
 'KUNDAMAA',
 'KOHTLA-JÄRVEMAA',
 'KIVIÕLIMAA',
 'KILINGI-NÕMMEMAA',
 'KEILAMAA',
 'KEHRAMAA',
 'KARKSI-NUIAMAA',
 'KALLASTEMAA',
 'JÕHVIMAA',
 'JÕGEVAMAA',
 'HAAPSALUMAA',
 'ELVAMAA',
 'ANTSLAMAA',
 'ABJA-PALUOJAMAA']

In [29]:
# SIIT NÄHA MILLINE ON remittanceInfo SPILT

counter = 0
for index, row in df.iterrows():
    if counter <= 50:
        rowRemittanceSeperatedList = re.split(r'[ ,/]', row["remittanceInfo"])
        print(rowRemittanceSeperatedList)
        counter += 1

['567176******6366', 'toward', 'information', 'MAKSIMARKET', 'outside', 'VILJANDIMAA', '']
['157466******5153', 'pay', 'LIDL', 'own', 'TARTU', 'sound', 'behind', 'TARTUMAA', '', 'dinner']
['24', '04', '1997', 'resource', 'kaart...878232', 'VILJANDI', 'MAKSIMARKET', 'VILJANDIMAA', '', 'EST', 'carry']
['551163******9009', 'which', 'ICA', 'AB', 'TARTU', 'LOUNAKESK', 'six', 'TARTUMAA', '', 'TAR']
['Kaart:411726******8003', 'human', 'seven', 'community', 'act', '-', 'Maxima', 'bank', '-', 'three', 'community']
['576266******5911', 'return', 'RIMI', 'TATARI', 'RIMI', 'ISETE', 'travel', 'TALLINN']
['368085******4980', 'difficult', 'act', 'KONSUM', 'ISETEENINDUSKESKVALJAK', '1KARDLA9']
['29', '05', '1985', 'traditional', 'kaart...609240', 'huge', 'SELVERI', 'ISETEENI', 'TALLINN', 'EST', 'team']
['146990******6058', 'light', 'IHASTE', 'KONSUM', 'marriage', 'TARTUMAA', '', 'buy']
['(..1988)', 'short', 'simply', 'stand', 'SELVER', 'ISETEENINSOBRA', 'wrong', 'TARTU', 'LINN', 'animal', 'thought']
['23', '07', '1973', 'half', 'kaart...710047', 'RIMI', 'VILJANDI', 'director', 'RI', 'VILJANDIMAA', '', 'EST', 'go']
['114088******7776', 'mind', 'ICA', 'paper', 'RIMI', 'H', 'else', 'TALLINN']
['650344******0573', 'do', 'ICA', 'six', 'RIMI', 'road', '64TALLINN10']
['328900******4997', 'door', 'together', 'SELVER', 'ISETEENI', 'lead', 'TARTU', 'LINN']
['17', '04', '1980', 'like', 'kaart...929592', 'great', 'SELVERI', 'ISET', 'TALLINN', 'EST', 'issue']
['(..5005)', 'myself', 'example', 'REMA', 'response', 'nation', 'character', 'out', 'old', 'fight', 'about', 'one', 'per', 'thus', 'konverteerimistasu', 'whatever', 'science', 'think', 'move', 'condition', 'already', 'behavior', 'management', 'choice']
['230764******1689', 'low', 'KAUBAMAJA', 'TARTU', 'leader', 'TARTUMAA', '', 'TAR']
['01', '10', '2009', 'age', 'kaart...223453', 'good', 'RIMI', 'painting', 'ISETE', 'TALLINN', 'EST', 'including']
['614921******6876', 'test', 'Prisma', 'Kristiine', 'Kesku', 'end', 'TALLINNA']
['(..0107)', 'late', 'paper', 'who', 'SELVER', 'onto', 'employee', 'TARTU', 'LINN', 'stand', 'crime']
['(..4984)', 'glass', 'nearly', 'today', 'Selver', 'street', 'Tallinn', 'scene', 'space']
['024896******6926', 'money', 'Prisma', 'eight', 'citizen', 'TALLINNA']
['(..6105)', 'its', 'walk', 'provide', 'SELVER', 'ISETEENIHAABNEEME', '', 'direction', 'TEE', 'change', 'power', 'VALD', 'ahead', 'instead']
['442106******7846', 'good', 'MAXIMA', 'NARVA', 'certain', 'place', 'behind', 'TARTU', 'LINN']
['(..6124)', 'seat', 'hope', '"GROSSI', 'TOIDUKAUBAD"', 'yes', 'TEE', 'include', 'LOO', 'owner', 'alone', 'exist']
['549703******0345', 'very', 'member', '"GROSSI', 'TOIDUKAUBADPIIRI', 'decide']
['26', '10', '2005', 'both', 'kaart...455285', 'EEDENI', 'MAKSIMARKET', 'TARTU', 'especially', 'think']
['(..3744)', 'successful', 'name', 'road', 'SELVERI', 'ISETEENINUKSNURME', 'TEE', 'answer', 'ahead', 'ago', 'share', 'can']
['20', '10', '1996', 'sea', 'kaart...640384', 'man', 'SELVER', 'TARTU', 'summer', 'item']
['15', '04', '2016', 'way', 'kaart...002379', 'building', 'KAUBAMAJAHAAPSA', 'data']
['403028******3553', 'doctor', 'southern', 'KONSUMNABALA', 'TEE', 'drop']
['(..7434)', 'forward', 'light', 'collection', 'SELVERI', 'site', 'TEE', 'network', 'TALLINN', 'man', 'reality']
['905621******2086', 'culture', 'opportunity', 'KONSUM', 'ISETEENIN', 'only', 'process', 'VALD']
['(..5400)', 'learn', 'live', 'EEDENI', 'MAKSIMARKET', 'point', 'TEE', 'enough', 'TARTU', 'LINN', 'ball', 'sign']
['038059******4436', 'town', 'Prisma', 'Rocca', 'al', 'Mare', 'relate', 'TALLINNA']
['874795******4330', 'represent', 'PAIDE', 'MAKSIMARKETRINGTEE', 'realize', 'determine']
['(..1160)', 'agent', 'fast', 'measure', 'RIMI', 'SM', 'ISETEENIE.VILDE', 'cost', 'include', 'minute', 'born']
['17', '05', '1990', 'man', 'kaart...510006', 'KAUBAMAJA', 'TALLINN', 'HARJUMAA', '', 'hand', 'natural']
['(..1465)', 'rock', 'that', 'herself', 'Selver', 'Tallinn', 'size', 'father']
['(..1968)', 'growth', 'good', 'ASTANGU', 'RIMI', 'ASTANGU', 'answer', 'TALLINN', 'energy', 'music']
['(..5508)', 'threat', 'risk', 'movement', 'SELVER', 'NARVA', 'yet', 'myself', 'TALLINN', 'bar', 'much']
['(..9202)', 'responsibility', 'short', 'A1000MARKET', 'medical', 'TALLINN', 'that', 'religious']
['19', '03', '1997', 'for', 'kaart...574182', 'live', 'KONSUM', 'ULENURME', 'ask', 'dinner']
['13', '01', '1988', 'feel', 'kaart...345256', 'RIMI', 'SOPRUSE', 'RIMI', 'HM', 'TALLINN', 'EST', 'recently']
['03', '11', '2009', 'be', 'kaart...357489', 'his', 'KONSUM', 'ISETEENIND', 'JURI', 'exist', 'yeah']
['20', '05', '1999', 'former', 'kaart...564944', 'probably', 'SELVERI', 'ISETEENI', 'TALLINN', 'EST', 'cover']
['(..0935)', 'surface', 'huge', 'performance', 'KONSUM', 'hear', 'executive', 'TARTUMAA', '', 'consider', 'must']
['109784******9822', 'paper', 'MAXIMA', 'coach', 'TEE', 'much', 'church', 'kitchen', 'TAL']
['464157******2078', 'official', 'GROSSI', 'TOIDUKAUBAD', 'back', 'religious']
['11', '01', '1986', 'sport', 'kaart...266732', 'RIMI', 'HIIU', 'RIMI', 'SM', 'toward', 'election', 'whose']
['(..8478)', 'in', 'history', 'RIMI', 'TELLISKIVI', 'RIMI', 'color', 'source', 'TALLINN', 'affect', 'contain']

In [31]:
# KUI VÕIMALIK SIIS TEKITAME remittanceInfost KUUPÄEVA
def getDate(rowList):
    try:
        day = rowList[0]
        month = rowList[1]
        year = rowList[2]
        if len(day) == 2 and len(month) == 2 and len(year) == 4:
            purchaseDate = date(int(year), int(month), int(day))
            formatted_date = purchaseDate.strftime('%d-%-m-%-Y')  # Format date as 'YYYY/M/D'
            return (True, formatted_date)
        else:
            return (False, False)
    except:
        return (False, False)
    
# KONTROLLIME KAS remittanceInfo SISALDAB MÄRGET, ET TEGU OLI ISETEENINDUSKASSAGA
def isSelfCheckout(elementFromRowAsList):
    if "ISETE" in elementFromRowAsList:
        return True
    else:
        return False    

# KÄIME LÄBI KÕIK DF READ NING EXTRACTIME SEALT KAARDINUMBRI JA/VÕI ISETEENINDUSKASSA MÄRGISTUSE JA/VÕI LINNA JA/VÕI KUUPÄEVA
# NING PANEME VASTAVAD ANDMED VASTAVATESSE TULPADESSE
for index, row in df.iterrows():
    rowRemittanceSeperatedList = re.split(r'[ ,/]', str(row["remittanceInfo"]))
    for i in range(0,len(rowRemittanceSeperatedList), 1):
        currentElement = str(rowRemittanceSeperatedList[i])
        if (currentElement != "" and currentElement != " " and currentElement != "-"):
            if (currentElement.count("*") > 1 or (currentElement[0] == "(" and currentElement[-1] == ")") or "kaart..." in currentElement):
                df.at[index, "cardNumber"] = currentElement
            if isSelfCheckout(currentElement):
                df.at[index, "selfCheckout"] = True
            if rowRemittanceSeperatedList[i].upper() in eestiLinnad:
                df.at[index, "city"] = currentElement.upper()
            dateCheck = getDate(rowRemittanceSeperatedList)
            if dateCheck[0] == True:
                df.at[index, "date"] = dateCheck[1]
            
# TO-DO
# A) cardNumber PUHTAKS, ET EI OLEKS kaart...983921 -> ....983921
#    IDEAALIS VÕIKSID KÕIK KAARDINUMBRID OLLA SAMA PIKAD
# B) -

In [33]:
df.head(40)

,id,formattedDate,merchantName,remittanceInfo,value,cardNumber,city,location,selfCheckout,date
0,1269,24-07-2023,MAKSIMARK,567176******6366 toward information MAKSIMARKE...,-13.59,567176******6366,VILJANDIMAA,None,None,None
1,319,14-06-2023,LIDL,157466******5153 pay LIDL own TARTU sound behi...,-0.89,157466******5153,TARTUMAA,None,None,None
3,1340,20-02-2023,MAKSIMARK,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9,kaart...878232,VILJANDIMAA,None,None,24-4-1997
6,400,10-03-2023,ICA,551163******9009 which ICA AB/TARTU LOUNAKESK ...,-5.1,551163******9009,TARTUMAA,None,None,None
7,1310,04-01-2023,MAXIMA,Kaart:411726******8003 human seven community a...,-17.35,Kaart:411726******8003,None,None,None,None
8,184,07-09-2023,RIMI,576266******5911 return RIMI/TATARI RIMI ISETE...,-4.28,576266******5911,TALLINN,None,True,None
9,1292,09-01-2023,KONSUM,368085******4980 difficult act KONSUM ISETEENI...,5,368085******4980,None,None,True,None
11,535,09-05-2023,SELVER,29/05/1985 traditional kaart...609240 huge SEL...,-21.86,kaart...609240,TALLINN,None,True,29-5-1985
14,690,05-03-2023,KONSUM,146990******6058 light IHASTE KONSUM marriage ...,-1.29,146990******6058,TARTUMAA,None,None,None
17,322,01-07-2022,SELVER,(..1988) short simply stand SELVER ISETEENINSO...,-34.08,(..1988),TARTU,None,True,None
18,525,26-08-2023,RIMI,23/07/1973 half kaart...710047 RIMI/VILJANDI d...,-23.08,kaart...710047,VILJANDIMAA,None,None,23-7-1973
21,1065,04-07-2023,RIMI,114088******7776 mind ICA paper RIMI H else TA...,-28.11,114088******7776,TALLINN,None,None,None
22,1853,02-08-2023,RIMI,650344******0573 do ICA six RIMI road 64TALLINN10,-6.43,650344******0573,None,None,None,None
23,348,28-04-2023,SELVER,328900******4997 door together SELVER ISETEENI...,-9.07,328900******4997,TARTU,None,True,None
26,868,17-08-2023,SELVER,17/04/1980 like kaart...929592 great SELVERI I...,-14.39,kaart...929592,TALLINN,None,None,17-4-1980
27,1703,04-01-2023,RIMI,(..5005) myself example REMA response nation c...,-16.21,(..5005),None,None,None,None
28,1781,25-03-2023,KAUBAMAJA,230764******1689 low KAUBAMAJA TARTU leader TA...,-6.68,230764******1689,TARTUMAA,None,None,None
29,1817,12-07-2023,RIMI,01/10/2009 age kaart...223453 good RIMI painti...,-11.93,kaart...223453,TALLINN,None,True,01-10-2009
31,369,11-04-2023,PRISMA,614921******6876 test Prisma Kristiine Kesku e...,-4.59,614921******6876,None,None,None,None
32,828,14-12-2022,SELVER,(..0107) late paper who SELVER onto employee T...,-11.56,(..0107),TARTU,None,None,None
33,1209,15-01-2023,SELVER,(..4984) glass nearly today Selver street Tall...,-1.19,(..4984),TALLINN,None,None,None
34,1894,26-07-2022,PRISMA,024896******6926 money Prisma eight citizen TA...,-23,024896******6926,None,None,None,None
35,522,07-07-2023,SELVER,(..6105) its walk provide SELVER ISETEENIHAABN...,-4.28,(..6105),None,None,True,None
36,1741,16-05-2023,MAXIMA,442106******7846 good MAXIMA NARVA certain pla...,-12.1,442106******7846,TARTU,None,None,None
37,81,10-10-2022,GROSSI,"(..6124) seat hope ""GROSSI TOIDUKAUBAD"" yes TE...",-2.09,(..6124),None,None,None,None
38,1106,24-09-2023,GROSSI,"549703******0345 very member ""GROSSI TOIDUKAUB...",-28.54,549703******0345,None,None,None,None
39,377,28-07-2023,MAKSIMARK,26/10/2005 both kaart...455285 EEDENI MAKSIMAR...,-5.9,kaart...455285,TARTU,None,None,26-10-2005
40,1129,14-01-2023,SELVER,(..3744) successful name road SELVERI ISETEENI...,-7.769999999999999,(..3744),None,None,True,None
41,324,03-12-2022,SELVER,20/10/1996 sea kaart...640384 man SELVER/TARTU...,-23.77,kaart...640384,TARTU,None,None,20-10-1996
43,1859,15-02-2023,KAUBAMAJA,15/04/2016 way kaart...002379 building KAUBAMA...,-10.2,kaart...002379,None,None,None,15-4-2016
44,935,03-11-2022,KONSUM,403028******3553 doctor southern KONSUMNABALA ...,-1.49,403028******3553,None,None,None,None
46,195,26-03-2023,SELVER,(..7434) forward light collection SELVERI site...,-20.67,(..7434),TALLINN,None,None,None
48,479,01-01-2023,KONSUM,905621******2086 culture opportunity KONSUM IS...,-27.83,905621******2086,None,None,True,None
49,1707,25-05-2023,MAKSIMARK,(..5400) learn live EEDENI MAKSIMARKET point T...,-19.85,(..5400),TARTU,None,None,None
50,1429,14-05-2023,PRISMA,038059******4436 town Prisma Rocca al Mare rel...,-11.2,038059******4436,None,None,None,None
51,1359,13-07-2023,MAKSIMARK,874795******4330 represent PAIDE MAKSIMARKETRI...,-2.6,874795******4330,PAIDE,None,None,None
52,1361,11-06-2023,RIMI,(..1160) agent fast measure RIMI SM ISETEENIE....,-8,(..1160),None,None,True,None
53,1714,29-04-2022,KAUBAMAJA,17/05/1990 man kaart...510006 KAUBAMAJA TALLIN...,-1.79,kaart...510006,TALLINN,None,None,17-5-1990
54,119,01-11-2022,SELVER,(..1465) rock that herself Selver Tallinn size...,-17.83,(..1465),TALLINN,None,None,None
56,897,06-06-2023,RIMI,(..1968) growth good ASTANGU RIMI ASTANGU answ...,-27.03,(..1968),TALLINN,None,None,None

In [35]:
# EEMALDAME UUESTI "MAA" city LÕPUST KUNA NEID TEGELIKULT EI OLE VAJA. NEID OLI VAJA VAID TUVASTAMISEKS
# VA. PÕLTSAMAA SEST SELLE LINNA NIMI LÕPPEBKI "MAA"-GA JA SEE ON AINUKE SELLINE LINN EESTIS
for index, row in df.iterrows():
    if  row["city"] is not None and row["city"].endswith("MAA") and row["city"] != "PÕLTSAMAA":
        df.at[index, "city"] = row["city"][:-3]

In [37]:
df.head(50)

,id,formattedDate,merchantName,remittanceInfo,value,cardNumber,city,location,selfCheckout,date
0,1269,24-07-2023,MAKSIMARK,567176******6366 toward information MAKSIMARKE...,-13.59,567176******6366,VILJANDI,None,None,None
1,319,14-06-2023,LIDL,157466******5153 pay LIDL own TARTU sound behi...,-0.89,157466******5153,TARTU,None,None,None
3,1340,20-02-2023,MAKSIMARK,24/04/1997 resource kaart...878232 VILJANDI MA...,-12.9,kaart...878232,VILJANDI,None,None,24-4-1997
6,400,10-03-2023,ICA,551163******9009 which ICA AB/TARTU LOUNAKESK ...,-5.1,551163******9009,TARTU,None,None,None
7,1310,04-01-2023,MAXIMA,Kaart:411726******8003 human seven community a...,-17.35,Kaart:411726******8003,None,None,None,None
8,184,07-09-2023,RIMI,576266******5911 return RIMI/TATARI RIMI ISETE...,-4.28,576266******5911,TALLINN,None,True,None
9,1292,09-01-2023,KONSUM,368085******4980 difficult act KONSUM ISETEENI...,5,368085******4980,None,None,True,None
11,535,09-05-2023,SELVER,29/05/1985 traditional kaart...609240 huge SEL...,-21.86,kaart...609240,TALLINN,None,True,29-5-1985
14,690,05-03-2023,KONSUM,146990******6058 light IHASTE KONSUM marriage ...,-1.29,146990******6058,TARTU,None,None,None
17,322,01-07-2022,SELVER,(..1988) short simply stand SELVER ISETEENINSO...,-34.08,(..1988),TARTU,None,True,None
18,525,26-08-2023,RIMI,23/07/1973 half kaart...710047 RIMI/VILJANDI d...,-23.08,kaart...710047,VILJANDI,None,None,23-7-1973
21,1065,04-07-2023,RIMI,114088******7776 mind ICA paper RIMI H else TA...,-28.11,114088******7776,TALLINN,None,None,None
22,1853,02-08-2023,RIMI,650344******0573 do ICA six RIMI road 64TALLINN10,-6.43,650344******0573,None,None,None,None
23,348,28-04-2023,SELVER,328900******4997 door together SELVER ISETEENI...,-9.07,328900******4997,TARTU,None,True,None
26,868,17-08-2023,SELVER,17/04/1980 like kaart...929592 great SELVERI I...,-14.39,kaart...929592,TALLINN,None,None,17-4-1980
27,1703,04-01-2023,RIMI,(..5005) myself example REMA response nation c...,-16.21,(..5005),None,None,None,None
28,1781,25-03-2023,KAUBAMAJA,230764******1689 low KAUBAMAJA TARTU leader TA...,-6.68,230764******1689,TARTU,None,None,None
29,1817,12-07-2023,RIMI,01/10/2009 age kaart...223453 good RIMI painti...,-11.93,kaart...223453,TALLINN,None,True,01-10-2009
31,369,11-04-2023,PRISMA,614921******6876 test Prisma Kristiine Kesku e...,-4.59,614921******6876,None,None,None,None
32,828,14-12-2022,SELVER,(..0107) late paper who SELVER onto employee T...,-11.56,(..0107),TARTU,None,None,None
33,1209,15-01-2023,SELVER,(..4984) glass nearly today Selver street Tall...,-1.19,(..4984),TALLINN,None,None,None
34,1894,26-07-2022,PRISMA,024896******6926 money Prisma eight citizen TA...,-23,024896******6926,None,None,None,None
35,522,07-07-2023,SELVER,(..6105) its walk provide SELVER ISETEENIHAABN...,-4.28,(..6105),None,None,True,None
36,1741,16-05-2023,MAXIMA,442106******7846 good MAXIMA NARVA certain pla...,-12.1,442106******7846,TARTU,None,None,None
37,81,10-10-2022,GROSSI,"(..6124) seat hope ""GROSSI TOIDUKAUBAD"" yes TE...",-2.09,(..6124),None,None,None,None
38,1106,24-09-2023,GROSSI,"549703******0345 very member ""GROSSI TOIDUKAUB...",-28.54,549703******0345,None,None,None,None
39,377,28-07-2023,MAKSIMARK,26/10/2005 both kaart...455285 EEDENI MAKSIMAR...,-5.9,kaart...455285,TARTU,None,None,26-10-2005
40,1129,14-01-2023,SELVER,(..3744) successful name road SELVERI ISETEENI...,-7.769999999999999,(..3744),None,None,True,None
41,324,03-12-2022,SELVER,20/10/1996 sea kaart...640384 man SELVER/TARTU...,-23.77,kaart...640384,TARTU,None,None,20-10-1996
43,1859,15-02-2023,KAUBAMAJA,15/04/2016 way kaart...002379 building KAUBAMA...,-10.2,kaart...002379,None,None,None,15-4-2016
44,935,03-11-2022,KONSUM,403028******3553 doctor southern KONSUMNABALA ...,-1.49,403028******3553,None,None,None,None
46,195,26-03-2023,SELVER,(..7434) forward light collection SELVERI site...,-20.67,(..7434),TALLINN,None,None,None
48,479,01-01-2023,KONSUM,905621******2086 culture opportunity KONSUM IS...,-27.83,905621******2086,None,None,True,None
49,1707,25-05-2023,MAKSIMARK,(..5400) learn live EEDENI MAKSIMARKET point T...,-19.85,(..5400),TARTU,None,None,None
50,1429,14-05-2023,PRISMA,038059******4436 town Prisma Rocca al Mare rel...,-11.2,038059******4436,None,None,None,None
51,1359,13-07-2023,MAKSIMARK,874795******4330 represent PAIDE MAKSIMARKETRI...,-2.6,874795******4330,PAIDE,None,None,None
52,1361,11-06-2023,RIMI,(..1160) agent fast measure RIMI SM ISETEENIE....,-8,(..1160),None,None,True,None
53,1714,29-04-2022,KAUBAMAJA,17/05/1990 man kaart...510006 KAUBAMAJA TALLIN...,-1.79,kaart...510006,TALLINN,None,None,17-5-1990
54,119,01-11-2022,SELVER,(..1465) rock that herself Selver Tallinn size...,-17.83,(..1465),TALLINN,None,None,None
56,897,06-06-2023,RIMI,(..1968) growth good ASTANGU RIMI ASTANGU answ...,-27.03,(..1968),TALLINN,None,None,None
57,829,16-04-2023,SELVER,(..5508) threat risk movement SELVER NARVA yet...,-9.53,(..5508),TALLINN,None,None,None
58,1872,29-08-2023,ICA,(..9202) responsibility short A1000MARKET medi...,-20.79,(..9202),TALLINN,None,None,None
59,1340,08-03-2023,KONSUM,19/03/1997 for kaart...574182 live KONSUM/ULEN...,-0.85,kaart...574182,None,None,None,19-3-1997
60,790,25-10-2023,RIMI,13/01/1988 feel kaart...345256 RIMI/SOPRUSE RI...,-6.79,kaart...345256,TALLINN,None,None,13-1-1988
61,474,14-05-2023,KONSUM,03/11/2009 be kaart...357489 his KONSUM ISETEE...,-3.48,kaart...357489,None,None,True,03-11-2009
62,86,26-06-2023,SELVER,20/05/1999 former kaart...564944 probably SELV...,-3,kaart...564944,TALLINN,None,True,20-5-1999
63,507,10-09-2023,KONSUM,(..0935) surface huge performance KONSUM hear ...,-25.32,(..0935),TARTU,None,None,None
65,197,08-08-2023,MAXIMA,109784******9822 paper MAXIMA coach TEE much c...,-24.94,109784******9822,None,None,None,None
67,415,03-08-2023,GROSSI,464157******2078 official GROSSI TOIDUKAUBAD b...,-21.22,464157******2078,None,None,None,None
68,624,02-04-2022,RIMI,11/01/1986 sport kaart...266732 RIMI/HIIU RIMI...,-2.44,kaart...266732,None,None,None,11-1-1986

In [39]:
#RASMUSE ESIMENE

df['merchantName'] = df['merchantName'].replace('ICA', 'RIMI')
df['merchantName'] = df['merchantName'].replace('KONSUM', 'COOP')
df['merchantName'] = df['merchantName'].replace('MAKSIMARK', 'COOP')
df['merchantName'] = df['merchantName'].replace('MAKSIMARKET', 'COOP')

In [41]:

#RASMUSE TEINE

df['value'] = pd.to_numeric(df['value'], errors='coerce') #Conveting shoppin cart values to numeric

average_values = df.groupby('merchantName')['value'].mean() #Calculating average shopping cart values by store
print(average_values)

merchantName
A&O                -14.912647
BLOOM               -1.750571
COOP               -16.400579
GROSSI             -15.540681
KAUBAMAJA          -14.187237
LIDL               -15.146752
MAXIMA             -15.824094
MEIE TOIDUKAUBAD   -24.935000
PRISMA             -16.363286
RIMI               -17.140231
SELVER             -16.311279
SIKUPILLI          -13.311818
STOCKMANN          -15.647270
Name: value, dtype: float64